/* 设计稿宽 750 */
.w {
  max-width: 56.64652568vw;
  margin: 0 auto;
}
body,
html {
  height: 100%;
  padding-top: 0;
  background-color: #565759;
}
/* ********************************************** 自定义样式开始 *******************************************************/
/* 登录公共样式 开始 */
.login .message {
  /* 医生员工登录tab切换li start */
  /* 医生员工登录tab切换li end */
  /* 医生账户登录 start  */
  /* 医生账户登录 end  */
  /* 员工账户登录 start */
  /* 员工账户登录 end */
  /* 忘记密码  start*/
  /* 忘记密码  end*/
  /* 新密码 start */
  /* 新密码 end */
  /* 忘记账号 start  */
  /* 忘记账号 end */
  /* 新账户名 start */
  /* 新账户名 end */
  /* 注册医生账户 start */
  /* 注册医生账户 end */
  /* 注册医生账户成功 start  */
  /* 注册医生账户成功 end */
}
.login .message ul {
  display: flex;
}
.login .message ul li {
  width: 15.10574018vw;
  height: 4.53172205vw;
  border-radius: 0.75528701vw 0.75528701vw 0 0;
  background: rgba(255, 255, 255, 0.4);
  font-size: 1.73716012vw;
  line-height: 4.53172205vw;
  text-align: center;
  color: #666666;
}
.login .message ul .active {
  background: #1175d2;
  color: #ffffff;
}
.login .message .content-one {
  width: 100%;
  height: 60.80060423vw;
  padding: 0 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
}
.login .message .content-one .tabLogin {
  padding-top: 6.87311178vw;
  width: 36.48036254vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 1.81268882vw;
  color: #666666;
}
.login .message .content-one .tabLogin div {
  padding: 0.75528701vw;
}
.login .message .content-one .tabLogin .active-tabLogin {
  color: #1175d2;
  border-bottom: 2px #1175d2 solid;
}
.login .message .content-one .lis-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .message .content-one .lis-text .inp-box {
  position: relative;
  margin-top: 4.75830816vw;
  width: 64.4%;
  border-bottom: 1px solid #999999;
}
.login .message .content-one .lis-text .inp-box .getCode {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.81268882vw;
  height: 4.38066465vw;
  line-height: 4.38066465vw;
  color: #1175d2;
}
.login .message .content-one .lis-text .inp-box .username,
.login .message .content-one .lis-text .inp-box .password {
  text-indent: 0.83081571vw;
  width: 100%;
  height: 4.38066465vw;
  font-size: 1.81268882vw;
}
.login .message .content-one .lis-text .inp-box .username::placeholder,
.login .message .content-one .lis-text .inp-box .password::placeholder {
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-one .remember {
  padding-top: 3.39879154vw;
  width: 64.4%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.login .message .content-one .remember .rem-name {
  padding-left: 1.13293051vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .message .content-one .remember .rem-name span {
  float: left;
  font-size: 1.81268882vw;
  color: #6A6A6A;
  margin-left: 1.51057402vw;
}
.login .message .content-one .remember .rem-name .rem-img {
  position: relative;
  width: 2.11480363vw;
  height: 2.11480363vw;
}
.login .message .content-one .remember .rem-name .rem-img img {
  position: absolute;
  top: 0vw;
  width: 100%;
  vertical-align: middle;
}
.login .message .content-one .logins .login-btn {
  width: 30.21148036vw;
  height: 4.90936556vw;
  border-radius: 0.3776435vw;
  background-color: #1175D2;
  text-align: center;
  line-height: 4.90936556vw;
  font-size: 1.81268882vw;
  color: #fff;
  margin: 6.94864048vw auto 0;
}
.login .message .content-one .jump {
  width: 72%;
  margin: 5.96676737vw auto 0;
  display: flex;
  justify-content: space-between;
}
.login .message .content-one .jump a {
  color: #3085D6;
  font-size: 1.81268882vw;
  border-bottom: 1px solid #3085D6;
  line-height: 3.62537764vw;
}
.login .message .content-two {
  width: 100%;
  height: 60.80060423vw;
  padding: 1.88821752vw 0 19.41087613vw;
  background: #f7f7f7;
  box-sizing: border-box;
}
.login .message .content-two .staff-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .message .content-two .staff-account .doctor-username,
.login .message .content-two .staff-account .staff-username,
.login .message .content-two .staff-account .password {
  margin-top: 4.90936556vw;
  text-indent: 0.98187311vw;
  width: 64.4%;
  height: 4.22960725vw;
  font-size: 1.81268882vw;
  border-bottom: 1px solid #999999;
}
.login .message .content-two .staff-account .doctor-username::placeholder,
.login .message .content-two .staff-account .staff-username::placeholder,
.login .message .content-two .staff-account .password::placeholder {
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-two .logins .login-btn {
  width: 30.21148036vw;
  height: 4.90936556vw;
  border-radius: 0.3776435vw;
  background-color: #1175D2;
  text-align: center;
  line-height: 4.90936556vw;
  font-size: 1.81268882vw;
  color: #fff;
  margin: 6.94864048vw auto 0;
}
.login .message .content-three {
  width: 100%;
  padding: 1.88821752vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
}
.login .message .content-three .forget-ipt {
  width: 34.74320242vw;
  margin: 0 auto;
}
.login .message .content-three .forget-ipt .code-box {
  display: flex;
  justify-content: space-between;
}
.login .message .content-three .forget-ipt .tel,
.login .message .content-three .forget-ipt .code-box,
.login .message .content-three .forget-ipt .new-psd,
.login .message .content-three .forget-ipt .psd {
  text-indent: 0.83081571vw;
  width: 100%;
  border-bottom: 1px solid #999999;
  box-sizing: border-box;
  font-size: 1.81268882vw;
  color: #999999;
  margin-top: 4.90936556vw;
  height: 4.22960725vw;
}
.login .message .content-three .forget-ipt .tel::placeholder,
.login .message .content-three .forget-ipt .code-box::placeholder,
.login .message .content-three .forget-ipt .new-psd::placeholder,
.login .message .content-three .forget-ipt .psd::placeholder {
  color: #999999;
}
.login .message .content-three .forget-ipt .tel .code,
.login .message .content-three .forget-ipt .code-box .code,
.login .message .content-three .forget-ipt .new-psd .code,
.login .message .content-three .forget-ipt .psd .code {
  text-indent: 0.83081571vw;
  width: 13.59516616vw;
  line-height: 4.22960725vw;
  font-size: 1.81268882vw;
}
.login .message .content-three .forget-ipt .tel .code::placeholder,
.login .message .content-three .forget-ipt .code-box .code::placeholder,
.login .message .content-three .forget-ipt .new-psd .code::placeholder,
.login .message .content-three .forget-ipt .psd .code::placeholder {
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-three .forget-ipt .tel .code-wz,
.login .message .content-three .forget-ipt .code-box .code-wz,
.login .message .content-three .forget-ipt .new-psd .code-wz,
.login .message .content-three .forget-ipt .psd .code-wz {
  color: #3686D5;
  font-size: 1.81268882vw;
  line-height: 4.22960725vw;
}
.login .message .content-three .yes {
  margin: 6.79758308vw auto 0;
  border-radius: 0.3776435vw;
  width: 30.21148036vw;
  height: 4.90936556vw;
  background-color: #1175D2;
  text-align: center;
  line-height: 4.90936556vw;
  color: #fff;
  font-size: 1.81268882vw;
}
.login .message .content-three .go {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 7.77945619vw auto 0;
}
.login .message .content-four {
  width: 100%;
  padding: 13.36858006vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
}
.login .message .content-four .new {
  font-size: 1.81268882vw;
  color: #747474;
}
.login .message .content-four .new span {
  color: #F89811;
  padding-left: 1.51057402vw;
}
.login .message .content-four .goes {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 13.67069486vw auto 0;
}
.login .message .content-five {
  width: 100%;
  padding: 1.88821752vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
}
.login .message .content-five .forget-ipt {
  width: 64.4%;
  margin: 0 auto;
}
.login .message .content-five .forget-ipt .five-code-box {
  display: flex;
  justify-content: space-between;
}
.login .message .content-five .forget-ipt .five-tel,
.login .message .content-five .forget-ipt .five-code-box {
  text-indent: 0.83081571vw;
  width: 100%;
  border-bottom: 1px solid #999999;
  box-sizing: border-box;
  font-size: 1.81268882vw;
  color: #999999;
  margin-top: 4.90936556vw;
  height: 4.22960725vw;
}
.login .message .content-five .forget-ipt .five-tel::placeholder,
.login .message .content-five .forget-ipt .five-code-box::placeholder {
  color: #999999;
}
.login .message .content-five .forget-ipt .five-tel .five-code,
.login .message .content-five .forget-ipt .five-code-box .five-code {
  text-indent: 0.83081571vw;
  width: 13.59516616vw;
  line-height: 4.22960725vw;
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-five .forget-ipt .five-tel .five-code::placeholder,
.login .message .content-five .forget-ipt .five-code-box .five-code::placeholder {
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-five .forget-ipt .five-tel .five-code-wz,
.login .message .content-five .forget-ipt .five-code-box .five-code-wz {
  color: #3686D5;
  font-size: 1.81268882vw;
  line-height: 4.22960725vw;
}
.login .message .content-five .five-yes {
  margin: 6.79758308vw auto 0;
  border-radius: 0.3776435vw;
  width: 30.21148036vw;
  height: 4.90936556vw;
  background-color: #1175D2;
  text-align: center;
  line-height: 4.90936556vw;
  color: #fff;
  font-size: 1.81268882vw;
}
.login .message .content-five .five-go {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 7.77945619vw auto 0;
}
.login .message .content-sex {
  width: 100%;
  padding: 13.36858006vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
}
.login .message .content-sex .new {
  font-size: 1.81268882vw;
  color: #747474;
}
.login .message .content-sex .new span {
  color: #F89811;
  padding-left: 1.51057402vw;
}
.login .message .content-sex .goes {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 13.67069486vw auto 0;
}
.login .message .content-seven {
  width: 100%;
  padding: 1.88821752vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
}
.login .message .content-seven .forget-ipt {
  width: 64.4%;
  margin: 0 auto;
}
.login .message .content-seven .forget-ipt .code-box {
  display: flex;
  justify-content: space-between;
}
.login .message .content-seven .forget-ipt .municipalities {
  width: 100%;
  border-bottom: 1px solid #999999;
  box-sizing: border-box;
  font-size: 1.81268882vw;
  color: #999999;
  margin-top: 4.90936556vw;
  height: 4.22960725vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .message .content-seven .forget-ipt .municipalities div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 9.66767372vw;
  height: 3.39879154vw;
  padding: 0 0.75528701vw;
  box-sizing: border-box;
  border: 1px solid #1678d3;
  border-radius: 0.3776435vw;
  margin-right: 0.75528701vw;
}
.login .message .content-seven .forget-ipt .municipalities div:last-of-type {
  margin-right: 0;
}
.login .message .content-seven .forget-ipt .municipalities div select {
  width: 100%;
  height: 100%;
  font-size: 1.81268882vw;
  color: #999999;
  border: none;
}
.login .message .content-seven .forget-ipt .municipalities div img {
  width: 0.90634441vw;
  height: 0.60422961vw;
}
.login .message .content-seven .forget-ipt .tips-box {
  position: relative;
  border-bottom: 1px solid #999999;
  margin-top: 4.90936556vw;
  height: 4.22960725vw;
  width: 100%;
  color: #333;
}
.login .message .content-seven .forget-ipt .tips-box:after {
  position: absolute;
  content: "*";
  color: #ff1f1f;
}
.login .message .content-seven .forget-ipt .tips-box.active::after {
  content: "";
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(1)::after {
  left: 8.3081571vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(2)::after {
  left: 12.31117825vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(4)::after {
  content: "";
  left: 8.3081571vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(5)::after {
  left: 6.41993958vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(6)::after {
  left: 5.66465257vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(7)::after {
  content: "";
  left: 8.3081571vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(8)::after {
  left: 13.59516616vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(9)::after {
  left: 13.59516616vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .tips-box:nth-of-type(10)::after {
  left: 11.70694864vw;
  top: 0.52870091vw;
}
.login .message .content-seven .forget-ipt .doctor-name,
.login .message .content-seven .forget-ipt .doctor-hospital,
.login .message .content-seven .forget-ipt .address,
.login .message .content-seven .forget-ipt .tel,
.login .message .content-seven .forget-ipt .mailbox,
.login .message .content-seven .forget-ipt .code-box,
.login .message .content-seven .forget-ipt .new-zh,
.login .message .content-seven .forget-ipt .new-psd,
.login .message .content-seven .forget-ipt .psd {
  text-indent: 0.83081571vw;
  height: 4.22960725vw;
  box-sizing: border-box;
  font-size: 1.81268882vw;
  color: #333;
  width: 100%;
}
.login .message .content-seven .forget-ipt .doctor-name::placeholder,
.login .message .content-seven .forget-ipt .doctor-hospital::placeholder,
.login .message .content-seven .forget-ipt .address::placeholder,
.login .message .content-seven .forget-ipt .tel::placeholder,
.login .message .content-seven .forget-ipt .mailbox::placeholder,
.login .message .content-seven .forget-ipt .code-box::placeholder,
.login .message .content-seven .forget-ipt .new-zh::placeholder,
.login .message .content-seven .forget-ipt .new-psd::placeholder,
.login .message .content-seven .forget-ipt .psd::placeholder {
  color: #999999;
}
.login .message .content-seven .forget-ipt .doctor-name .code,
.login .message .content-seven .forget-ipt .doctor-hospital .code,
.login .message .content-seven .forget-ipt .address .code,
.login .message .content-seven .forget-ipt .tel .code,
.login .message .content-seven .forget-ipt .mailbox .code,
.login .message .content-seven .forget-ipt .code-box .code,
.login .message .content-seven .forget-ipt .new-zh .code,
.login .message .content-seven .forget-ipt .new-psd .code,
.login .message .content-seven .forget-ipt .psd .code {
  text-indent: 0.83081571vw;
  width: 13.59516616vw;
  line-height: 4.22960725vw;
  font-size: 1.81268882vw;
}
.login .message .content-seven .forget-ipt .doctor-name .code::placeholder,
.login .message .content-seven .forget-ipt .doctor-hospital .code::placeholder,
.login .message .content-seven .forget-ipt .address .code::placeholder,
.login .message .content-seven .forget-ipt .tel .code::placeholder,
.login .message .content-seven .forget-ipt .mailbox .code::placeholder,
.login .message .content-seven .forget-ipt .code-box .code::placeholder,
.login .message .content-seven .forget-ipt .new-zh .code::placeholder,
.login .message .content-seven .forget-ipt .new-psd .code::placeholder,
.login .message .content-seven .forget-ipt .psd .code::placeholder {
  font-size: 1.81268882vw;
  color: #999999;
}
.login .message .content-seven .forget-ipt .doctor-name .code-wz,
.login .message .content-seven .forget-ipt .doctor-hospital .code-wz,
.login .message .content-seven .forget-ipt .address .code-wz,
.login .message .content-seven .forget-ipt .tel .code-wz,
.login .message .content-seven .forget-ipt .mailbox .code-wz,
.login .message .content-seven .forget-ipt .code-box .code-wz,
.login .message .content-seven .forget-ipt .new-zh .code-wz,
.login .message .content-seven .forget-ipt .new-psd .code-wz,
.login .message .content-seven .forget-ipt .psd .code-wz {
  color: #3686D5;
  font-size: 1.81268882vw;
  line-height: 4.22960725vw;
}
.login .message .content-seven .yes {
  margin: 6.79758308vw auto 0;
  border-radius: 0.3776435vw;
  width: 30.21148036vw;
  height: 4.90936556vw;
  background-color: #1175D2;
  text-align: center;
  line-height: 4.90936556vw;
  color: #fff;
  font-size: 1.81268882vw;
}
.login .message .content-seven .go {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 7.77945619vw auto 0;
}
.login .message .content-eight {
  width: 100%;
  padding: 8.4592145vw 0 4.90936556vw;
  background: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
}
.login .message .content-eight .tips {
  margin-bottom: 3.77643505vw;
  font-size: 1.81268882vw;
  color: #666666;
}
.login .message .content-eight .eight-zh,
.login .message .content-eight .eight-psd {
  font-size: 1.81268882vw;
  color: #666666;
}
.login .message .content-eight .eight-zh span,
.login .message .content-eight .eight-psd span {
  color: #F99400;
}
.login .message .content-eight .eight-psd {
  margin-top: 2.26586103vw;
}
.login .message .content-eight .go {
  width: 9.96978852vw;
  height: 3.77643505vw;
  text-align: center;
  font-size: 1.81268882vw;
  line-height: 3.77643505vw;
  color: #3084D5;
  border-bottom: 1px solid #3084D5;
  margin: 8.91238671vw auto 0;
}
.login .flogo {
  margin: 2.87009063vw auto 0;
  width: 18.12688822vw;
  height: 1.88821752vw;
}
.register-box {
  height: auto;
}
.register-box .flogos {
  margin: 9.81873112vw auto 5.89123867vw;
  width: 18.12688822vw;
  height: 1.88821752vw;
}
.dn {
  display: none;
}
/* 登录公共样式 结束 苹果加白条*/
@media screen and (max-height: 560px) {
  body {
    padding-top: 0;
  }
  .login .logo {
    margin-top: 1.51057402vw;
  }
  .login-box .message {
    margin-top: 1.51057402vw;
  }
  .login .message .content-two {
    padding: 1.88821752vw 0 11.85800604vw;
  }
  .login .message .content-three .go {
    margin: 4.75830816vw auto 0;
  }
  .login .flogo {
    margin: 0 auto 0;
  }
}
/* 登录公共样式 结束 矮苹果*/
@media screen and (max-height: 640px) {
  body {
    padding-top: 0vw;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .login-box .message {
    margin: 5.28700906vw 0;
  }
}
/* 登录公共样式 结束 苹果8plus*/
@media screen and (min-height: 640px) and (max-height: 680px) {
  body {
    padding-top: 0vw;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .login-box .message {
    margin: 4.53172205vw 0;
  }
}
/* 登录公共样式 结束 小ipad*/
@media screen and (min-width: 760px) and (max-width: 1025px) {
  body {
    padding-top: 0vw;
  }
  .login .logo {
    margin-top: 0;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .login .message .content-two {
    padding: 1.88821752vw 0 11.85800604vw;
  }
  .login .message .content-one .jump {
    margin: 6.64652568vw auto 0;
  }
  .login .message .content-three .go {
    margin: 4.75830816vw auto 0;
  }
  .login .message .content-three .yes {
    margin: 4.75830816vw auto 0;
  }
  .login .message .content-three .forget-ipt .tel,
  .login .message .content-three .forget-ipt .code-box,
  .login .message .content-three .forget-ipt .new-psd,
  .login .message .content-three .forget-ipt .psd {
    margin-top: 2.64350453vw;
  }
}
/* 登录公共样式 结束 小ipad*/
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .login {
    min-height: 94.41087613vw;
  }
}
